@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary-color: hsl(29, 100%, 41%);
  --primary-color-light: hsl(29, 94%, 49%);
  --primary-color-dark: hsl(29, 100%, 36%);
  --secondary-color: #343434;
  --hover-color: #171717;
  --text-color: #fff;
  --primary-text-color: #000;
  --tertiary-color: #767676;
  --border-color: #c3c3c3;

  --primary-gradient: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color-light) 100%
  );
}

.button_flex {
  display: flex;
  gap: 1em;
  border: 1px solid red;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}



.single_pickup {
  width: 100%;
}

.single-pickup__card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
  width: 100%;
}

.button_container {
  display: flex;
}

.bulktable_icons {
  margin-right: 1em;
  cursor: pointer;
  color: green;
  font-size: 1.3rem;
}

* {
  font-family: "Poppins";
}

Modal {
  width: 90%;
}

.page {
  padding: 1em;
  max-width: 980px;
  margin: 0 auto;
  min-height: 100%;
}

.edit_icon {
  color: green;
  cursor: pointer;
  font-size: 1.3rem;
}

.required-label::after {
  content: "*";
  color: rgb(255, 56, 56);
  margin-left: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1em;
  margin-bottom: 1em;
}
.heading h1, .heading h2 {
  margin: 0;
}

.btn-flex {
  display: flex;
  gap: 0.5em;
}

.file_input {
  max-width: 40%;
}

.flex {
  display: flex;
}

.emptyContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2em;
}

.updateLink {
  color: var(--primary-color);
  cursor: pointer;
}


.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-only {
  background-color: rgb(233, 233, 233) !important;
}