.container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: var(--sidebar-width);
    background-color: var(--tertiary-color);
    position: sticky;
    top: 0; 
    height: 100%;

}

.container > a{
    text-decoration: none;
    font-family: "Poppins";
    color: var(--text-color);
    /* margin-top: 2em; */
    font-size: 1.01rem;  
    padding: 1.1em;
}

.container > a:hover{
    background-color: var(--secondary-color);
}