.button_flex {
  font-family: "Poppins";
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
  margin-bottom: 3em;
  gap: 2em;
}


.buttonContainer {
  display: flex;
  gap: 2em;
}

.floatingButtons {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2em;
  margin-right: 2em;
  display: flex;
  gap: .5em;
}